$height-pattern: 3vh;
$width-pattern: 30vw;

// Needed to the sake of a responsive background Image.
html{
    width: 100%;
    height: 100%;
}

::-webkit-scrollbar { 
    display: none; 
}

::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}

body{
    background-color: black;
    background-image: url(../images/board.jpg);
    background-size: contain;
}

.fullApp{
    display: flex;
    flex-direction: column;
}

.visibleList{
    display: flex;
    flex-grow: 1;
    overflow-x: scroll;
    max-width: 96vw;
    margin: 0 auto;
    padding: 20px;
}

.ulFk{
    display: flex;
    flex-shrink: 0;
    flex-flow: row nowrap;
    align-items: stretch;
    padding: 0;
    overflow: visible;
}


.inputAdd{
    display: flex;
    justify-content: space-around;

    input{
        width: $width-pattern;
        height: $height-pattern;
        border-radius: 15px;
        width: $width-pattern;
        text-align: center;
        height: 30px;
        border: none;
        background-color: #ffffff;
        &:focus{
            outline: none;
        }
    }

    button{
        cursor: pointer;
        display: block;
        margin: 0 auto;
        width: 29.90vw;
        background-color: #2ecc71;
        border-radius: 15px;
        height: 33px;
        border: none;
        transition: background-color 0.10s linear;
        margin-top: 10px;
        color: #fff;
        font-weight: bold;

        &:focus {
            outline: none;
        }
        &:hover {
            border: none;
            background-color: darken(#2ecc71, 8%);

        }
    }
}


.textTodo{
    margin-left: 25px;
    margin-top: 20px;
    height: 40vh;
    width: $width-pattern;
    background-color: #ffc;
    transform: rotate(5deg);
    background-size: 100% 90%;
    background-position: -10px -10px;
    background-repeat: no-repeat;
    box-shadow: 5px 5px 15px #000;
    transition: transform 0.2s ease-in-out;
    &:hover{
        transform: rotate(0deg);
    }
    p {
        text-align: left;
        margin: 50px 15px 15px 15px;
        width: 25vw;
        height: 25vh;
        max-width: 25vw;
        overflow: scroll;
    }

}

.btn-Del{
    margin: 0 auto;
    width: 10vw;
    margin-left: 15px;
    border-radius: 3px;
    background-color: rgb(254, 231, 60);
    box-shadow: 1px 1px rgb(254, 231, 60);
    border-style: solid;
    border-color: rgb(254, 231, 60);
    cursor: pointer;

    &:focus {
        outline: none;
    }
    &:hover {
        background-color: rgb(176, 0, 2);
        box-shadow: 1px 1px rgb(176, 0, 2);
        border-style: solid;
        border-color: rgb(176, 0, 2);
        color: white;
    }
}


@media only screen and (max-width: 1080px) {

    .btn-Del{
        width: 50vw;
        margin-top: 5vh;
        background-color: rgb(67, 221, 126);
        border-color: rgb(67, 221, 126);
        box-shadow: 1px 1px rgb(67, 221, 126);
        font-weight: bold;
    }

    .textTodo{
        width: 80vw;
        height: 60vh;
        margin-left: 50px;
        p{
            margin: 25px 15px 15px 25px;
            width: 60vw;
            height: 40vh;
            max-width: 80vw;
            text-overflow: clip;
        }
    }

    .inputAdd{
        input{
            height: 10vh;
            width: 88vw;
        }
        button{
            font-size: 18px;
            height: 10vh;
            width: 88vw;
        }
    }
}
